
# But not these files...
/jhotdraw60b1/*
!jhotdraw60b1/src

/jdk6-master/*
!jdk6-master/jdk
/jdk6-master/jdk/*
!jdk6-master/jdk/src
/jdk6-master/jdk/src/*
!jdk6-master/jdk/src/share
/jdk6-master/jdk/src/share/*
!jdk6-master/jdk/src/share/classes
/jdk6-master/jdk/src/share/classes/*
!jdk6-master/jdk/src/share/classes/java
/jdk6-master/jdk/src/share/classes/java/*
!jdk6-master/jdk/src/share/classes/java/awt

/ant-rel-1.6.2/*
!ant-rel-1.6.2/src/
/ant-rel-1.6.2/src/*
!ant-rel-1.6.2/src/main

/cppunit/.vscode/
/cppunit/autoconf-2.69/

/.archive

/*/.AppleDouble
/*/.settings
/*/.uml
/*/bin
/*/docs/
/*/xdocs/
